/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
	font-family: Baskerville; src: fonts/Baskerville.ttc;
}

/*////////// Global Styles //////////*/

html {
	display: block;
}
body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}
h1 {
	font-family: 'Baskerville', serif;
	font-size: 5em;
	font-style: normal;
	color: rgb(141, 163, 156);
}

h2 {
	color: rgb(100, 116, 111);
	font-size: 2em;
}

footer {
	text-align: right;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

#featured img {
	border: 5px rgb(152,173,166) solid;
}

#press img {
    border: 5px #ccc solid;
    padding: 1px;
}
/* Write all remaining styles here */
