/*////////////// Fonts //////////////*/

/* Using Google Web Developer I could just copy and paste the whole file fyi  */
/* link the web font used for the level 1 heading here */
@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
h1 {
    font-family: "Baskerville", serif;
    font-size: 90px;
    margin: 0 0 5px 0;
    color: rgb(160,170,170);
    padding-bottom: 10px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
}



h2 {
    color: rgb(120,120,120);
    font-size: 2em;
}

.about img {
    border: 5px rgb(120,120,120) solid;
}

p  {
	color: #555;
	font-size: 1em;
	margin: 0 0 20px 0;
}


.press img {
	border: 5px rgb(200,200,200) solid;
	padding: 1px;
}

.press img:hover {
	border: 5px rgb(120,120,120) solid;
}

.about a {
    color: #1783bb;
	text-decoration: none;
}
.about a:hover {
    text-decoration: underline;

}

footer {
    text-align: right;
    margin-top: 20px;
}
