/*////////////// Fonts //////////////*/
@import url('fonts/baskerville.ttc');
/*////////// Global Styles //////////*/
body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}
header a{
  color: rgb(152,173,166);
  text-decoration: none;
    text-decoration-color: currentcolor;
    text-decoration-line: none;
    text-decoration-style: solid;
}
header a:hover {
	color: rgb(111,127,122);
}
p{
	color: #555;
	font-size: 1em;
}
a{
	color: #1783bb;
	text-decoration: none;
}
#about a:hover {
	text-decoration: underline;
}
#press img:hover {
	border: 5px rgb(111,127,122) solid;
}
h1 {
	padding-bottom: 10px;
	margin: 0 0 5px;
	font-size: 5em;
	font-weight: normal;
	font-family: 'Baskerville', serif;
	border-bottom: 1px solid #ccc;
}
h2{
	font-family: serif;
	font-size: 2em;
	color: rgb(111,127,122);
}
img {
	border: 5px rgb(152,173,166) solid;
}
footer {
    text-align: right;
    background: #fff;
		font-size: 0.8em;
}
